.questoes {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.q-header {
    position: sticky;
    border-width: 2px solid var(--color-primary);
    top: 0;
    z-index: 20;
    background: var(--text);
    padding: max(0.75rem, env(safw-area-inset-top)) 1rem 0.75rem 1rem;
    height: 18dvh;
}

.q-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--bg-primary);
}

.q-subtitle {
    margin: .25rem 0 0 0;
    font-size: 1.1rem;
    color: var(--bg-primary);
}

.progress {
    position: relative;
    margin-top: .75rem;
    height: 13px;
    border-radius: 999px;
    background-color: var(--bg-progress);
}

.progress-bar {
    height: 100%;
    background: var(--color-secondary-dark);
    border-radius: 999px;
    transition: width .2s ease;
}

.progress-label {
    color: var(--bg-primary);
}
